<!DOCTYPE html>
<!--[if lt IE 10]><html class="no-js lt-ie10" lang="{{request.LANGUAGE_CODE}}"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="it"><!--<![endif]-->
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="cleartype" content="on" />
        <meta name='viewport' content='width=device-width, initial-scale=1, minimal-ui=1, maximum-scale=1' />
        <title>Assignment</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <!--build-css-start-->
        <link href="static/assignment/css/bootstrap.min.css" rel="stylesheet" >
        <link href="static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
        <link href="static/bower_components/iCheck/skins/square/blue.css" rel="stylesheet" >
        <link href="static/assignment/css/base.css" rel="stylesheet" >
        <link href="static/assignment/css/header.css" rel="stylesheet" >
        <link href="static/assignment/css/index.css" rel="stylesheet" >
        <link href="static/assignment/css/footer.css" rel="stylesheet" >
        <link href="static/assignment/css/helpers.css" rel="stylesheet" >
        <!--build-css-end-->
    </head>
    <body>
        <header id="header" role="banner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Prezi Assignment</h1>
                    </div>
                </div>
            </div>
        </header>
        <main class="indexPage" role="main">
            <div class="container">
                <form class="searchForm js-searchForm" method="get" action="." data-api="node/search">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9">
                            <div class="searchWrapper">
                                <input class="searchField js-title" autocomplete="off" placeholder="Search title" type="text" name="title" />
                                <button class="searchCta" type="submit">
                                    <span class="visuallyhidden">Seacrh</span>
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="orderWrapper">
                                <input class="js-customChk js-order" tabindex="1" name="order_by" value="date" type="checkbox" id="id_order_by">
                                <label for="id_order_by">Order by date</label>
                            </div>
                        </div>
                    </div>
                </form>
                <section class="searchResults js-listView">
                    <div class="row js-list"></div>
                </section>
            </div>
        </main>
        <footer id="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Author: Giovanni Battista Brescia</p>
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/template" id="prezi_item_tpl">
            <article class="pItem">
                <img class="pImage" src="<%= model.thumbnail %>" alt="">
                <div class="pDetails">
                    <h3 class="pTitle"><%= model.title %></h3>
                    <time class="pCreationDate" datetime="<%= model.datetime %>"><%= model.createdAt %></time>
                    <p>Author: <a class="pCreator" target="_blank" href="<%= model.creator.profileUrl %>"><%= model.creator.name %></a></p>
                </div>
            </article>
        </script>
        <!-- ref:js index.js -->
            <script src="static/bower_components/requirejs/require.js"></script>
            <script src="static/assignment/js/conf/main.js"></script>
            <script src="static/assignment/js/init/index.js"></script>
        <!-- endref -->
    </body>
</html>