@import "project_variables.less";

*, *:before, *:after {
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//ie9
main{
    display:block;
}

::-moz-selection {
    background: @selectionColor;
    color:@white;
    text-shadow: none;
}

::selection {
    background: @selectionColor;
    color:@white;
    text-shadow: none;
}

@media (max-width: @step0down){
    .hs{
        display:none !important;
    }
}
@media (min-width: @step0) and (max-width: @step1down){
    .hs0{
        display:none !important;
    }
}
@media (min-width: @step1) and (max-width: @step2down){
    .hs1{
        display:none !important;
    }
}
@media (min-width: @step2) and (max-width: @step3down){
    .hs2{
        display:none !important;
    }
}
@media (min-width: @step3){
    .hs3{
        display:none !important;
    }
}