@import "project_variables.less";

.indexPage{
    padding: 0 0 20px;
    .searchForm{
        padding: 15px 0;
    }
    .searchWrapper{
        margin: 15px auto;
        border-radius: 5px;
        position: relative;
        background-clip: padding-box;
        max-width: 480px;
    }
    .searchField{
        display: block;
        padding: 0 45px 0 10px;
        height: 40px;
        line-height: 1;
        width: 100%;
        border-radius: 5px;
        border: 1px solid @lightGray;
        &:focus{
          border-color: @lightBlue;
        }
        &:hover{
            border-color: @lightBlue;
        }
    }
    .searchCta{
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        border: 0;
        background: @lightBlue;
        color: @white;
        text-align: center;
        border-radius: 0 5px 5px 0;
    }
    .orderWrapper{
        margin: 15px auto;
        max-width: 480px;
        label{
            line-height: 1;
            margin: 0 0 0 5px;
            vertical-align: middle;
            display: inline-block;
        }
    }
}
.pItem{
    border: 1px solid @lightGray;
    max-width: 400px;
    margin: 10px auto;
    .pImage{
        display: block;
        max-width: 100%;
    }
    .pDetails{
        padding: 10px;
    }
    .pTitle{
        margin: 5px 0;
        line-height: 1.23;
        min-height: 69px;
    }
    p{
        margin: 5px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media ( min-width: @step0 ) and ( max-width: @step1down ){
    .searchResults{
        >div{
            &:nth-child(2n+1){
                clear: both;
            }
        }
        .col-xs-12{
            width:50%;
        }
    }
}

@media ( min-width: @step1 ){
    .indexPage{
        .searchWrapper{
            margin: 40px 0;
            max-width: none;
        }
        .orderWrapper{
            max-width: none;
            margin: 40px 0;
            height: 40px;
            line-height: 38px;
        }
    }
}
@media ( min-width: @step1 ) and ( max-width: @step2down ){
    .searchResults{
        >div{
            &:nth-child(3n+1){
                clear: both;
            }
        }
    }
}
@media ( min-width: @step3 ){
    .searchResults{
        >div{
            &:nth-child(4n+1){
                clear: both;
            }
        }
    }
}