@selectionColor:rgba(66,133,244,0.4);

@fontSizePercent:100%;
@buttonInputTextareaSelectSize:100%;
@smallFontSizePercent:76%;
@supSubFontSizePercent:76%;

@aColor:#35a8df;
@aColorVisited:#35a8df;
@aColorHover:#35a8df;

@blockquoteMargin:5px 10px 15px 20px;
@ulOlMargin:5px 10px 15px 20px;
@ulOlPadding:5px 10px 15px 20px;
@ddMargin:5px 10px 15px 20px;

//BASE from 0 to 479 px
//-----------------//
//XS from 480 to 767 px
@step0down: 479px;
@step0: 480px;
//SM from 768 to 991 px
@step1down: 767px;
@step1: 768px;
//MD from 992 to 1199 px
@step2down: 991px;
@step2: 992px;
//LG from 1200 to SU
@step3down: 1199px;
@step3: 1200px;

@thin: 100;
@light: 300;
@normal: 400;
@medium: 500;
@semi-Bold: 600;
@bold: 700;
@extra-Bold: 800;
@ultra-Bold: 900;

@black:#000000;
@white:#ffffff;

@lightGray:#dadada;
@lightBlue:#2489C5;
