a,a:active,a:focus,a:hover,button,embed,input,object,textarea{outline:0 solid transparent}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}